<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .container_join
      .login_wrap_join
        #title_join_div
          h1#title_join Create Account
        form#join-form(action="/auth/join", method="post")
          .input-group_join
            label(for='userId') ID
            input#id_join(type='text' name='userId' placeholder='id' required autofocus)
          .input-group_join
            label(for='name') Name
            input#name_join(type='text' name='name' placeholder='name' required)
          .input-group_join
            label(for='password') Password
            input#password_join(type='password' name='password' placeholder='password' required)
          .error_message_join= joinError
          button#join.btn(type='submit') Join
  script(src='/javascripts/join.js')