extends menu

block login
  a.log_button(href='/menu3/login') Log In

block logout
  a.log_button(href='/auth/menu3/logout') Logout

block content
 #write-wrapper
  #content-write

  .content-wrapper
    #write_title
      h3 Q & A 
      h1 글쓰기
    form#question-create-form
      .input-group_form
        label(for='name') 작성자
        input#name(type='text' name='name' value=user.u_name readOnly)
        input#user_id(type='hidden' value=user.u_id)
      .input-group_form
        label(for='title') 제목
        input#title(type='text' name='title', placeholder='제목' autofocus)
      .input-group_form
        label(for='question') 내용
        textarea#question(name='question', cols='80', rows='10' placeholder='내용')
      if !q_id
        script.
          var state = true;
        button#save_btn.write_btn(type='submit') 저장
      else
        script.
          var state = false;
        input#q_id(type="hidden", value=q_id)
        input#u_id(type="hidden", value=u_id)
        button.write_btn(type='submit') 수정
  #content-back
    button#back(type='button') 목록
  script(src='/javascripts/write.js')